.button {
    background-color: var(--key-background);
    display: inline;
    text-align: center;
    vertical-align: middle;
    border-radius: var(--border-radius);

    color: var(--key-color);

    width: 100%;
    padding: 0.4em;
    margin: auto;

    border: none;
    box-shadow: 0 0.12em var(--key-shadow);
    font: inherit;
    cursor: pointer;
}

.button:hover {
    background-color: var(--key-hover-background);
}

.button:active {
    background-color: var(--key-shadow);
}

.button.control {
    background-color: var(--key-control-background);
    color: var(--key-control-color);
    box-shadow: 0 0.12em var(--key-control-shadow);
}

.button.control:hover {
    background-color: var(--key-control-hover-background);
}

.button.control:active {
    background-color: var(--key-control-shadow);
}

.button.submit {
    background-color: var(--key-submit-background);
    color: var(--key-submit-color);
    box-shadow: 0 0.12em var(--key-submit-shadow);
}

.button.submit:hover {
    background-color: var(--key-submit-hover-background);
}

.button.submit:active {
    background-color: var(--key-submit-shadow);
}