.button {
    background-color: hsl(30, 25%, 89%);
    display: inline;
    text-align: center;
    vertical-align: middle;
    border-radius: var(--border-radius);

    color: hsl(221, 14%, 31%);

    width: 100%;
    padding: 0.4em;
    margin: auto;

    border: none;
    box-shadow: 0 0.12em hsl(28, 16%, 65%);
    font: inherit;
}

.button.control {
    background-color: hsl(225, 21%, 49%);
    color: white;
    box-shadow: 0 0.12em hsl(224, 28%, 35%);
}

.button.submit {
    background-color: hsl(6, 63%, 50%);
    color: white;
    box-shadow: 0 0.12em hsl(6, 70%, 34%);
}