#button-container {
    /*height: 50%;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.7em;

    background-color: hsl(223, 31%, 20%);
    padding: 0.7em;

    border-radius: var(--border-radius);
}

#calculator-container {
    display: grid;
    gap: 1em;
}