.screen {
    background-color: var(--screen-background);
    padding: 0.5em;
    text-align: right;
    border-radius: var(--border-radius);
    font-size: 1.7rem;
    line-height: 1em;
}

.screen span {
    vertical-align: middle;
}