:root {
    --border-radius: 10px;
    font-size: 32px;
    font-family: 'League Spartan';
}

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: var(--font-color);
}

body.theme1 {
    --font-color: white;
    --body-background: hsl(222, 26%, 31%);
    --screen-background: hsl(224, 36%, 15%);
    --keypad-background: hsl(223, 31%, 20%);

    --key-background: hsl(30, 25%, 89%);
    --key-color: hsl(221, 14%, 31%);
    --key-shadow: hsl(28, 16%, 65%);

    --key-control-background: hsl(225, 21%, 49%);
    --key-control-color: white;
    --key-control-shadow: hsl(224, 28%, 35%);

    --key-submit-background: hsl(6, 63%, 50%);
    --key-submit-color: white;
    --key-submit-shadow: hsl(6, 70%, 34%);
}

body.theme2 {
    --font-color: hsl(60, 10%, 19%);
    --body-background: hsl(0, 0%, 90%);
    --screen-background: hsl(0, 0%, 93%);
    --keypad-background: hsl(0, 5%, 81%);

    --key-control-background: hsl(185, 42%, 37%);
    --key-control-color: white;
    --key-control-shadow: hsl(185, 58%, 25%);

    --key-submit-background: hsl(25, 98%, 40%);
    --key-submit-color: white;
    --key-submit-shadow: hsl(25, 99%, 27%);

    --key-background: hsl(45, 7%, 89%);
    --key-color: hsl(60, 10%, 19%);
    --key-shadow: hsl(35, 11%, 61%);
}

body.theme3 {
    --font-color: hsl(52, 100%, 62%);
    --body-background: hsl(268, 75%, 9%);
    --screen-background: hsl(268, 71%, 12%);
    --keypad-background: hsl(268, 71%, 12%);

    --key-submit-background: hsl(176, 100%, 44%);
    --key-submit-color: hsl(198, 20%, 13%);
    --key-submit-shadow: hsl(177, 92%, 70%);

    --key-control-background: hsl(281, 89%, 26%);
    --key-control-color: hsl(0, 0%, 100%);
    --key-control-shadow: hsl(285, 91%, 52%);

    --key-background: hsl(268, 47%, 21%);
    --key-color: hsl(52, 100%, 62%);
    --key-shadow: hsl(290, 70%, 36%);
}

body {
    background-color: var(--body-background)
}

.main-container {
    justify-items: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 11px);
    display: grid;
}

main {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: grid;
    max-width: 15em;
    padding: 1em;
    gap: 1em;
}

@media (max-width: 385px) {
    main {
        padding: 0
    }
}

main>div:first-child {
    display: flex;
    justify-content: space-between;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}